<%- include("head") -%>

<body>
  <header>
    <nav class="navbar navbar-custom">
      <ul class="navbar-nav mc-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"
            >About <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Passion </a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container-fluid">
    <div class="row greetingSection">
      <div class="col-lg-5 greetingText">
        <h1>Hello!</h1>
        <h1>I am Yangfan.</h1>
        <h2>A web developer.</h2>
      </div>
      <div class="col-lg-7 greetingPic">
        <img class="profilePic1" src="profilePic.svg" />
      </div>
    </div>
  </div>
  <section>
    <div class="middle-container">
      <div class="row">
        <div class="col-lg-12">
          <img class="profilePic2 img-fluid" src="circlePic.svg" alt="" />
          <p class="hello-description">
            Hi, I am a web developer based in Australia. I am passionate about
            both web development and design.
          </p>
          <p class="contactText">
            If there's anything I can help you with, please don't hesitate to
            get in touch.
          </p>
          <a class="contectBtn btn btn-secondary btn-lg" href="mailto:yf_chang@outlook.com@">CONTACT ME</a>
        </div>
      </div>
    </div>
  </section>
</body>

<%- include("footer") -%>
