<%- include("head") -%>

<body>
  <header>
      <nav class="navbar navbar-custom">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Passion </a>
            </li>
          </ul>
      </nav>
  </header>

  <footer>
    <div></div>
  </footer>
</body>
