<div class="bottom-container">
    <div class="links">
      <a class="footer-link" href="https://www.linkedin.com/in/yangfan-zhang-64536b16a/">LinkedIn</a>
      <a class="footer-link" href="https://github.com/YangfanZhang">Github</a>
      <a class="footer-link" href="https://dribbble.com/Yangfan_Chang">Dribbble</a>
    </div>

    <p class="copy-right">© 2020 by Yangfan Zhang with &#10084</p>
  </div>