<%- include("head") -%>


  <body>
    <main class="projectsSection">
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h3><a class="featurette-heading" href="https://github.com/YangfanZhang/WhoIsLuckyOne">Who is the lucky one?</a></h3>
            <p class="lead">A web application to help my team members to choose the next Friday background theme picker.It can generate a random member name and save the name to the 'past theme pickers' list. </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="images/WhoIsTheLuckyOne.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h3><a class="featurette-heading" href="https://github.com/YangfanZhang/AllergenDetector">The Allergen Detector</a></h3>
            <p class="lead">It is an iOS application. Users can get the allergen information of a food product by scanning the product’s barcode from within the app. It was written in Swift. .</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="images/AllergenDetector.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h3><a class="featurette-heading" href="https://github.com/YangfanZhang/Blog-website">Blog Website</a></h3>
            <p class="lead">A blog website which allows users to add blogs, search by blog title. It is an exercise from the Udemy course - <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">"The complete web development bootcamp"</a></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="images/BlogWebsite.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h3><a class="featurette-heading" href="https://github.com/YangfanZhang/Drum-kit">Drum Kit</a></h3>
              <p class="lead">It is a web page which allows user to control a drum kit by keyborad. It is an exercise from the Udemy course - <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">"The complete web development bootcamp"</a></p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="images/DrumKit.jpg" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
                <h3><a class="featurette-heading" href="https://github.com/YangfanZhang/NewsletterSignup">News Letter Sign Up Page</a></h3>
              <p class="lead">It is an web page which allows users to sign up for email newsletters. It is an exercise from the Udemy course - <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">"The complete web development bootcamp"</a></p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="images/NewsLetterSignUp.jpg" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3><a class="featurette-heading" href="https://github.com/YangfanZhang/Simon-Game-Challenge">Simon Game </a></h3>
              <p class="lead">A online version of the famous 'Simon Memory Game'. It is an exercise from the Udemy course - <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">"The complete web development bootcamp"</a></p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="images/SimonGame.jpg" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
                <h3><a class="featurette-heading" href="https://github.com/YangfanZhang/TinDog-Start">Tindog</a></h3>
              <p class="lead">The 'Tinder' for your dogs! Help your dogs find their perfert partner! It is an exercise from the Udemy course - <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">"The complete web development bootcamp"</a></p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="images/Tindog.jpg" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3><a class="featurette-heading" href="https://github.com/YangfanZhang/todolist-v1">To Do List</a></h3>
              <p class="lead">An to do list to help users organize their work and life. It is an exercise from the Udemy course - <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">"The complete web development bootcamp"</a></p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="images/Todolist.jpg" alt="Generic placeholder image">
            </div>
          </div>
  

        <!-- /END THE FEATURETTES -->

      </div>









<%- include("footer") -%>