.navbar-custom{
    background-color: #84CBFF;
}
.navbar-nav {
    flex-direction: row;
    margin: 2% 0 2% 0;
    font-size: larger;
  }
.nav-item{
    margin: 0 20px 0 20px;

}
.nav-link{
    color: #ffffff;
}
body{
    background-color: #84CBFF;
}
.profilePic{
    margin: auto;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 38rem;
}