.navbar-custom{
    background-color: #c4d7a4;
}
.navbar-nav {
    flex-direction: row;
    text-align: center;
    margin: 2% 0 2% 0;
  }
.nav-item{
    margin: 0 20px 0 20px;

}
.nav-link{
    color: #767371;
}
body{
    background-color: #ede7de;
}