body{
    background-color: #84CBFF;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #5a5a5a;
}
.container-fluid{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* navbar */
.navbar-custom{
    background-color: #84CBFF;
}
.navbar-nav {
    flex-direction: row;
    margin: 2% 0 2% 5%;
    font-size: larger;
  }
.nav-item{
    margin: 0 20px 0 20px;
}
.nav-link{
    color: #ffffff;
}

/* greeting section*/
.greetingSection{
    margin: 0;
    padding: 0;
    width: 100%;
}
.greetingText{
    padding: 10% 0 10% 3%;
    text-align: center;
}
.greetingPic{
    padding:0;
    margin: 0;
    text-align: right;
    right: 0;
}
.profilePic1{
    height: 38rem;
    text-align: right;
    right: 0;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 5rem;
    color: #ffffff;
}
h2{
    font-size: 2.5rem;
    padding-top: 5%;
    color:#ffffff;
}

/* middle-container */
section{
    margin:0;
    padding:0;
    background-color: #ffffff;
}
.middle-container{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.profilePic2{
    height: 10rem;
}
.hello-description{
    width: 35%;
    margin:3% auto 0 auto;
    color:#7B7B7B;
  }
.contactText{
    color:#7B7B7B;
}

.contectBtn{
    margin-top: 2%;
}


/* bottom container */
.bottom-container {
    background-color:  #84CBFF;
    width:100%;
    margin: 0;
    padding:0;
    height: 100px;
  }

  .footer-link{
    color: #4A90E2;
     font-size: larger;
    margin: 50px 50px 50px 50px;
  }
  
  .links{
    margin: 50px 0 0 0;
    padding-top: 25px;
    text-align: center;
  }
  
  .copy-right{
    color: #EAF6F6;
    margin: 0;
    margin-top: 4%;
    margin-bottom: 5%;
    text-align: center;
  }

  /* Featurettes
------------------------- */

.featurette-divider {
    margin: 0; /* Space out the Bootstrap <hr> more */
    padding: 0;
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  .featurette{
      text-align: center;
      align-items: center;
  }
  .lead{
      bottom: 0;
  }
  
  .projectsSection{
      background-color: #ffffff;
  }

  .featurette-image{
      height: 400px;
      width: 400px;
  }